html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    position: relative;
    -webkit-text-size-adjust: none;
}

    body * {
        text-shadow: none;
    }

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

h1, h2, h3 {
    font-size: 18px;
}

h4, h5, h6 {
    font-size: 16px;
}

p {
    margin: 0 0 10px 0;
}

a, a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: underline;
}

.header,
.footer {
    text-align: center;
}

.header,
.footer {
    background: #000060;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 50px;
}

    .header.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    .footer.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
    }

#socketStatus {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 35px;
    height: 3px;
}

/*.mmenu-main {
    background: center center no-repeat transparent;
    background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}*/
.mmenu-main {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.4em;
}

.mmenu-aux {
    /*background: center center no-repeat transparent;*/
    /*background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );*/
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 1.4em;
}


.page-content {
/*    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
*/
    height: 100%;
}

#page-overlay {
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
}

#page {
    position: fixed;
    top: 52px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    /*height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;*/
}

#menul {
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1000000;
}

#menur {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1000000;
}

.multilevelpushmenu_wrapper {
    background: khaki;
}

    .multilevelpushmenu_wrapper > div > h2 {
        margin: 0px;
        padding-top: 15px;
    }

    .multilevelpushmenu_wrapper .levelHolderClass {
        background: khaki;
    }

    .multilevelpushmenu_wrapper .backItemClass {
        background: darkkhaki;
    }

    .multilevelpushmenu_wrapper li:hover {
        background-color: inherit;
    }

    .multilevelpushmenu_wrapper a:hover {
        color: inherit;
    }

.multilevelpushmenu_selected {
    background: ivory;
}

.levelHolderClass .ltr {
    white-space: normal;
}

    .levelHolderClass .ltr > h2 {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 90px;
        margin: 0px;
        padding-top: 15px;
    }

    .levelHolderClass .ltr > ul > li {
        white-space: nowrap;
    }

.backItemClass {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
}

@media screen and (max-height: 400px) {
    .multilevelpushmenu_wrapper > div > h2 {
        padding-top: 8px;
    }

    .levelHolderClass .ltr > h2 {
        height: 50px;
        padding-top: 8px;
    }

    .levelHolderClass .ltr > ul > li {
        font-size: 95%;
    }

    .backItemClass {
        height: 0px;
    }

    .multilevelpushmenu_wrapper .backItemClass {
        padding: 0px;
    }

    .backItemClass > a {
        visibility: collapse;
    }
}


.sidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: lightgoldenrodyellow;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    padding: 10px;
}

.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar.top {
    left: 0;
    right: 0;
    top: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: center;
}
